{% extends 'base.html' %} 
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>EB Analytics</h1>
        <div class="analy">
        <ul>
        <li class="nav-item"><a class="nav-link" href="{% url 'borrowing_analytics' %}">Borrowing Analytics</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'popular_analytics' %}">Popularity Analytics</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'available_analytics' %}">Availability Analytics</a></li>
        </ul>
        </div>
    </div>
{% endblock content %}