{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Library System</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'add_book' %}">Add Books</a></li>
                <li><a href="{% url 'borrowed_books' %}">Borrowed Books</a></li>

                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
